.container-home {
    margin-top: 117px;
    margin-left: 120px;
}

.home-title {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    color: #062847;
}

.home-text {
    width: 612px;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-top: 24px;

}

.home-button {
    margin-top: 48px;
    width: 101px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
}