.container-find-base {
    margin: 54px 99px 0 90px;
}

.find-base-top {
    background: #E6F7FF;
    border-radius: 16px;
    padding-left: 94px;
    padding-top: 66px;
}

.find-title {
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.find-input {
    width: 676px;
    margin-top: 12PX;
}

.find-button {
    margin-top: 24px;
    margin-bottom: 42px;
}